* {
  font-family: 'Courier New', Courier, monospace;
  background: #000;
  color: #fff;
}

/* Calculator */
.layoutContainer {
  margin-left: 2%;
  margin-right: 2%;
}

.buttons {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.display {
  width: 76%;
  font-size: 300%;
  height: 9vh;
  background: grey;
  text-align: right;
  padding: 2%;
  color: #fff;
}

button {
  font-size: 300%;
  border: #fff 1px solid;
  width: 20%;
  transition: 0.8s;
}

button:hover {
  border: 1px solid #000;
}

button:active {
  font-size: 200%;
}

.fifth_row {
  display: grid;
  grid-template-columns: 40% 20% 20%;
}

.fifth_row > button {
  width: 100%;
}

.operator {
  background: rgb(255, 165, 0);
}

/* navbar */
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 2%;
  padding-right: 2%;
}

.navBarUl {
  display: flex;
  list-style: none;
}

.navLink {
  text-decoration: none;
  transition: 300ms;
  color: #f4913e;
}

.navLink:hover {
  color: #fff;
}

/* Home */
.welcome {
  padding-left: 2%;
  padding-right: 2%;
}

/* Quote */
.quoteP {
  font-size: 140%;
  margin-top: 10%;
  font-weight: bold;
}

.quoteContainer {
  padding-left: 2%;
  padding-right: 2%;
}
